
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="hakkimizda" class="bg-white">
    <div class="container py-md-5 py-sm-3">
        <div class="row bg-white mt-md-5 mt-sm-3">
            <div class="col-md-6">
                <h4 class="pt-5 pb-3">Let's Trip Now! Hakkında</h4>
                <p>
                    Let's Trip Now!, Türkiye genelinde ve 22 ülkede Acentelere online uçak bileti, güvenli, şoförlü,
                    ulaşım hizmetleri otel ve havalimanı transfer hizmeti sağlayan bir platformdur.
                    Diğer pek çok firmanın ürünlerini bir araya getirir, karşılaştırır. Sizlere aralarından en
                    ekonomik ve en kaliteli hizmet anlayışıyla arama veya rezervasyon yapabilmenizi
                    sağlar.
                    7/24 ve vip hizmet anlayışı ile müşterilerine hızlı ve pratik çözümler
                    sunarken;
                    Let's Trip Now! binlerce seçenek arasından sizin için en uygun seçimi sizler için yapmaktadır.
                </p>
            </div>
            <div class="pl-5 col-md-6 text-right "><img src="/Content/img/home1.jpg" style="width:100%"></div>
        </div>
    </div>
</div>
