@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div id="anasayfa">
    <img src="~/Content/img/Slider.png" width="100%">
</div>

<div class="bg-grey us-web">
    <div class="container py-5">
        <div class="row pb-2">
            <div class="col-md-3">
                <div class="container">
                    <div class="row float-md-left">
                        <img class="my-1 mx-3" src="~/Content/img/koltuk.png" height="50px">
                        <h7 class="font-lacivert font-weight-bolder">Online Koltuk <br> Satın Alma</h7>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-md-5">
                <div class="container">
                    <div class="row text-center">
                        <img class="my-auto pl-md-2 " src="~/Content/img/pngegg.png" height="50px">
                        <div class="ayristirici-mavi px-1"></div>
                        <h7 class="font-lacivert font-weight-bolder">7/24 <br> Kesintisiz Müşteri Hizmetleri</h7>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container">
                    <div class="row float-md-left">
                        <img class="m-1 mx-3" src="~/Content/img/luggage.png" height="50px">
                        <h7 class="font-lacivert font-weight-bolder">Online Bagaj <br> Satın Alma</h7>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="hakkimizda" class="bg-white">
    <div class="container py-md-5 py-sm-3">
        <div class="row bg-white mt-md-5 mt-sm-3">
            <div class="col-md-6">
                <h4 class="pt-5 pb-3">Let's Trip Now! Hakkında</h4>
                <p>
                    Let's Trip Now!, Türkiye genelinde ve 22 ülkede Acentelere online uçak bileti, güvenli, şoförlü,
                    ulaşım hizmetleri otel ve havalimanı transfer hizmeti sağlayan bir platformdur.
                    Diğer pek çok firmanın ürünlerini bir araya getirir, karşılaştırır. Sizlere aralarından en
                    ekonomik ve en kaliteli hizmet anlayışıyla arama veya rezervasyon yapabilmenizi
                    sağlar.
                    7/24 ve vip hizmet anlayışı ile müşterilerine hızlı ve pratik çözümler
                    sunarken;
                    Let's Trip Now! binlerce seçenek arasından sizin için en uygun seçimi sizler için yapmaktadır.
                </p>
            </div>
            <div class="pl-5 col-md-6 text-right "><img src="~/Content/img/home1.jpg" style="width:100%"></div>
        </div>
    </div>
</div>
<div id="urunler" class="bg-grey">
    <div class="container bg-grey">
        <div class="row bg-grey pb-5">
            <div class="col-md-12">
                <h4 class="pt-5 pb-3">Hizmetlerimiz</h4>
            </div>
            <div class="col-md-4 px-4 py-2">
                <div class="row bg-white golgelendirme rounded">
                    <div class="container bg-mavi-koyu p-3 rounded">
                        <img class="m-1" src="~/Content/img/icon-ucakbileti.png" height="20px">Uçak Bileti
                        <p class="bg-mercan float-right mb-0 p-1">ONLINE</p>
                    </div>
                    <div class="container bg-white p-2 rounded" style="height: 125px;">
                        <p>
                            500’den fazla havayolu ile sizlere sonsuz seçim ayrıcalığı konforu sunan
                            ve kolay bilet satışı, düzenlemesi, bilet sorgulama
                            online koltuk ve bagaj satın alma imkanı sunar.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-4 py-2">
                <div class="row bg-white golgelendirme rounded">
                    <div class="container bg-mavi-koyu p-3 rounded">
                        <img class="m-1" src="~/Content/img/icon-otelRezervasyonu.png" height="20px">Otel Rezervasyonu
                        <p class="bg-mercan float-right mb-0 p-1">ONLINE</p>
                    </div>
                    <div class="container bg-white p-2 rounded" style="height: 125px;">
                        <p>
                            Dünya çapında yüzbinlerce otel ve pansiyonda en kaliteli yenilikçi seyahat hizmetleri
                            teknolojilerimizle konaklayıp güzel bir ayrıcalığın keyfine varabilirsiniz!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-4 py-2">
                <div class="row bg-white golgelendirme rounded">
                    <div class="container bg-mavi-koyu p-3 rounded">
                        <img class="m-1" src="~/Content/img/icon-transfer.png" height="20px">Transfer
                        <p class="bg-mercan float-right mb-0 p-1">ONLINE</p>
                    </div>
                    <div class="container bg-white p-2 rounded" style="height: 125px;">
                        <p>
                            Yurt içi ve Yurt dışında Vip araçlarımızla, güvenilir eğitimli ve güler yüzlü şoförlerimizle hep yanınızdayız!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-4 py-2">
                <div class="row bg-white golgelendirme rounded">
                    <div class="container bg-mavi p-3 rounded">
                        <img class="m-1" src="~/Content/img/icon-tur.png" height="20px">Tur
                    </div>
                    <div class="container bg-white p-2 rounded" style="height: 125px;">
                        <p>
                            Yurt içi ve Yurt dışında klasik ve sıra dışı bir macera!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-4 py-2">
                <div class="row bg-white golgelendirme rounded">
                    <div class="container bg-mavi p-3 rounded">
                        <img class="m-1" src="~/Content/img/icon-rentacar.png" height="20px">Araç & Filo Kiralama
                    </div>
                    <div class="container bg-white p-2 rounded" style="height: 125px;">
                        <p>
                            İdeal aracınızı en uygun fiyata kiralayın!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-4 py-2">
                <div class="row bg-white golgelendirme rounded">
                    <div class="container bg-mavi p-3 rounded">
                        <img class="m-1" src="~/Content/img/icon-vize.png" height="20px">Vize
                    </div>
                    <div class="container bg-white p-2 rounded" style="height: 125px;">
                        <p>
                            Tüm ülkeler için en güvenilir ve hızlı şekilde vize başvurusu ve başvuru sürecinizin her
                            adımında destek!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="avantajlar" class="bg-avantaj">
    <div class="container">
        <div class="row pb-5">
            <div class="col-md-12">
                <h4 class="py-3 text-white">Let's Trip Now'un Avantajları</h4>
            </div>
            <div class="col-md-4">
                <div class="borderless">
                    <ul class="list-group borderless">
                        <li class="list-group-item borderless">Mobil uyumlu responsive arayüz
                        <li>
                        <li class="list-group-item borderless">Geniş Havayolu ağı</li>
                        <li class="list-group-item borderless">Online Satış Desteği</li>
                        <li class="list-group-item borderless">Hızlı ve Kolay Bilet Alma</li>
                        <li class="list-group-item borderless">Farklı Ödeme Alternatifleri</li>
                        <li class="list-group-item borderless">Güvenli Ödeme</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="borderless">
                    <ul class="list-group borderless">
                        <li class="list-group-item borderless">Güvenlik (PCI DSS ve SSL Sertifikaları)</li>
                        <li class="list-group-item borderless">Özel Fiyatlar & Kampanyalar</li>
                        <li class="list-group-item borderless">Avantajlı Taksit Seçenekleri & Banka Kampanyaları</li>
                        <li class="list-group-item borderless">Detaylı Bilet & Finansal Raporlama</li>
                        <li class="list-group-item borderless">7/ 24 Müşteri ve Operasyon Desteği</li>
                        <li class="list-group-item borderless">Yolcu veri tabanı</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="iletisim" class="bg-grey">
    <div class="container py-4">
        <div class="row bg-grey my-5 px-2">
            <div class="col-md-5 pb-3 bg-transparent h-500">
                <h4 class="font-lacivert font-weight-bolder py-4">Bize Yazın</h4>
                <form action="" method="post">
                    <div class="form-group">
                        <select class="form-control" style=" box-shadow: 0px 0px 6px #00000029;">
                            <option>ACENTA BAŞVURUSU</option>
                            <option>DİĞER</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="ad" id="ad" placeholder="Acenta Adı*">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="soyad" id="soyad" placeholder="Mail Adresi*">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" name="mail" id="mail" placeholder="Telefon Numarası">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                  placeholder="Mesajınız"></textarea>
                    </div>
                    <button class="btn btn-primary btn-block py-3">Gönder</button>
                </form>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img class="m-1" src="~/Content/img/icon-konum.png" height="20px">
                            Nişantaşı Üniv. Maslak 1453, Sarıyer, Istanbul
                        </p>
                        <p>
                            <img class="m-1" src="~/Content/img/icon-telefon.png" height="20px">
                            0212 654 81 52
                        </p>
                        <p>
                            <img class="m-1" src="~/Content/img/icon-mail.png" height="20px">
                            info@letstripnow.com
                        </p>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.6917414167565!2d29.00677961528084!3d41.11942287928968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab728fc42dd33%3A0x17d213078fb809f4!2zTmnFn2FudGHFn8SxIMOcbml2ZXJzaXRlc2kgTWFzbGFrIDE0NTMgS2FtcMO8c8O8!5e0!3m2!1str!2str!4v1638935519932!5m2!1str!2str"
                            width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    </html>
