
@{
    ViewBag.Title = "Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="urunler" class="bg-grey">
    <div class="container bg-grey">
        <div class="row bg-grey pb-5">
            <div class="col-md-12">
                <h4 class="pt-5 pb-3">Hizmetlerimiz</h4>
            </div>
            <div class="col-md-4 px-4 py-2">
                <div class="row bg-white golgelendirme rounded">
                    <div class="container bg-mavi-koyu p-3 rounded">
                        <img class="m-1" src="/Content/img/icon-ucakbileti.png" height="20px">Uçak Bileti
                        <p class="bg-mercan float-right mb-0 p-1">ONLINE</p>
                    </div>
                    <div class="container bg-white p-2 rounded" style="height: 125px;">
                        <p>
                            500’den fazla havayolu ile sizlere sonsuz seçim ayrıcalığı konforu sunan
                            ve kolay bilet satışı, düzenlemesi, bilet sorgulama
                            online koltuk ve bagaj satın alma imkanı sunar.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-4 py-2">
                <div class="row bg-white golgelendirme rounded">
                    <div class="container bg-mavi-koyu p-3 rounded">
                        <img class="m-1" src="/Content/img/icon-otelRezervasyonu.png" height="20px">Otel Rezervasyonu
                        <p class="bg-mercan float-right mb-0 p-1">ONLINE</p>
                    </div>
                    <div class="container bg-white p-2 rounded" style="height: 125px;">
                        <p>
                            Dünya çapında yüzbinlerce otel ve pansiyonda en kaliteli yenilikçi seyahat hizmetleri
                            teknolojilerimizle konaklayıp güzel bir ayrıcalığın keyfine varabilirsiniz!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-4 py-2">
                <div class="row bg-white golgelendirme rounded">
                    <div class="container bg-mavi-koyu p-3 rounded">
                        <img class="m-1" src="/Content/img/icon-transfer.png" height="20px">Transfer
                        <p class="bg-mercan float-right mb-0 p-1">ONLINE</p>
                    </div>
                    <div class="container bg-white p-2 rounded" style="height: 125px;">
                        <p>
                            Yurt içi ve Yurt dışında Vip araçlarımızla, güvenilir eğitimli ve güler yüzlü şoförlerimizle hep yanınızdayız!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-4 py-2">
                <div class="row bg-white golgelendirme rounded">
                    <div class="container bg-mavi p-3 rounded">
                        <img class="m-1" src="/Content/img/icon-tur.png" height="20px">Tur
                    </div>
                    <div class="container bg-white p-2 rounded" style="height: 125px;">
                        <p>
                            Yurt içi ve Yurt dışında klasik ve sıra dışı bir macera!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-4 py-2">
                <div class="row bg-white golgelendirme rounded">
                    <div class="container bg-mavi p-3 rounded">
                        <img class="m-1" src="/Content/img/icon-rentacar.png" height="20px">Araç & Filo Kiralama
                    </div>
                    <div class="container bg-white p-2 rounded" style="height: 125px;">
                        <p>
                            İdeal aracınızı en uygun fiyata kiralayın!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-4 py-2">
                <div class="row bg-white golgelendirme rounded">
                    <div class="container bg-mavi p-3 rounded">
                        <img class="m-1" src="/Content/img/icon-vize.png" height="20px">Vize
                    </div>
                    <div class="container bg-white p-2 rounded" style="height: 125px;">
                        <p>
                            Tüm ülkeler için en güvenilir ve hızlı şekilde vize başvurusu ve başvuru sürecinizin her
                            adımında destek!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>