
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="avantajlar" class="bg-avantaj">
    <div class="container">
        <div class="row pb-5">
            <div class="col-md-12">
                <h4 class="py-3 text-white">Let's Trip Now'un Avantajları</h4>
            </div>
            <div class="col-md-4">
                <div class="borderless">
                    <ul class="list-group borderless text-black">
                        <li class="list-group-item borderless">Mobil uyumlu responsive arayüz</li>
                        <li class="list-group-item borderless">Geniş Havayolu ağı</li>
                        <li class="list-group-item borderless">Online Satış Desteği</li>
                        <li class="list-group-item borderless">Hızlı ve Kolay Bilet Alma</li>
                        <li class="list-group-item borderless">Farklı Ödeme Alternatifleri</li>
                        <li class="list-group-item borderless">Güvenli Ödeme</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="borderless">
                    <ul class="list-group borderless">
                        <li class="list-group-item borderless">Güvenlik (PCI DSS ve SSL Sertifikaları)</li>
                        <li class="list-group-item borderless">Özel Fiyatlar & Kampanyalar</li>
                        <li class="list-group-item borderless">Avantajlı Taksit Seçenekleri & Banka Kampanyaları</li>
                        <li class="list-group-item borderless">Detaylı Bilet & Finansal Raporlama</li>
                        <li class="list-group-item borderless">7/ 24 Müşteri ve Operasyon Desteği</li>
                        <li class="list-group-item borderless">Yolcu veri tabanı</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>